.nav-bar {
    width: 100%;
    background: #bcaddf;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 40%;
}

.nav-links li a {
    color: #20546e;
    text-decoration: none;
    text-transform: uppercase;
}